/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$background-fb: #65a2de;
$background-google: #d20506;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.background-fb {
  background-color: $background-fb !important;
}

.background-google {
  background-color: $background-google !important;
}

.iconContainer {
  background-color: black;
}
