.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-name {
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.userStoryButton {
  margin: 5px;
  margin-right: 50px;
  margin-left: 15px;
  cursor: pointer;
  & label {
    cursor: pointer;
  }
}

.btnAddUserStoryContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.has-gradient-text {
  background: -webkit-linear-gradient(#13f7f4, #2af598);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topButtons {
  padding: 20px;
}

.target-list {
  min-height: 150px;
}

.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
  margin-left: 20px;
  .board-bar {
    background: rgba(gray, 0.5);
    padding: 8px 15px;

    .board-name {
      font-size: 20px;
      font-weight: bold;
      color: white;
    }
  }

  .board-wrapper {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;

    .board-columns {
      display: flex;
      flex-grow: 1;
      margin-left: 5px;
      .board-column {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0; // to force the columns to all be the same size, regardless of content

        min-width: 300px;
        min-height: 150px;
        padding: 30px;

        /*border-radius: 4px;*/

        //background: rgba(white, 0.5);

        &:not(:first-child) {
          margin-left: 0;
        }

        .column-title {
          font-size: 20px;
          font-weight: 400;
          font-family: 'Lato', sans-serif;
          text-transform: uppercase;
          margin-bottom: 20px;
          position: sticky;
        }
      }
    }
  }
}

.tasks-container {
  flex-grow: 1;
  overflow-y: auto;
}

.task-todo {
 border-left: 3px solid #ff9504;
  & .userStoryTitle {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 18;
  }
  & .footerTodo {
    padding: 10px;
    padding-left: 20px;
  }

  & .statusTodoChip {
    background: #ff9504;
    color: white;
    margin-right: 20px;
  }

  & .deleteIcon {
    color: red;
    float: right;
    margin-right: 8px;
    cursor: pointer;
  }
  & .editIcon {
    color: #3f51b5;
    float: right;
    margin-right: 8px;
    cursor: pointer;
  }
  &   .topDescriptionContainer {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 80px;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-family: serif;
    font-weight: 200;
    color: grey;
    padding-top: 5px;
  }
  & .High{
    color: red;
    margin-left: 5px;
  }

  & .Medium{
    color: #ff9504;
    margin-left: 5px;
  }

  & .Low {
    color: green;
    margin-left: 5px;
  }

  & .storyPointContainer {
    height: 30px !important;
    width: 30px !important;
    border: 1px solid transparent !important;
    border-radius: 15px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 2px 1px #ff9504;
  }

  & .usTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.task-progress {
  border-left: 3px solid #3f51b5;
  & .userStoryTitle {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 18;
  }
  & .footerTodo {
    padding: 10px;
    padding-left: 20px;
  }

  & .statusTodoChip {
    background: #3f51b5;
    color: white;
    margin-right: 20px;
  }
  & .deleteIcon {
    color: red;
    float: right;
    margin-right: 8px;
    cursor: pointer;
  }
  & .editIcon {
    color: #3f51b5;
    float: right;
    margin-right: 8px;
    cursor: pointer;
  }
  & .topDescriptionContainer {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 80px;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-family: serif;
    font-weight: 200;
    color: grey;
    padding-top: 5px;
  }
  & .High{
    color: red;
    margin-left: 5px;
  }

  & .Medium{
    color: #ff9504;
    margin-left: 5px;
  }

  & .Low {
    color: green;
    margin-left: 5px;
  }

  & .storyPointContainer {
    height: 30px !important;
    width: 30px !important;
    border: 1px solid transparent !important;
    border-radius: 15px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 2px 1px #3f51b5;
  }

  & .usTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.task-done {
  border-left: 3px solid mediumseagreen;
  & .userStoryTitle {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 18;
  }
  & .footerTodo {
    padding: 10px;
    padding-left: 20px;
  }

  & .statusTodoChip {
    background: mediumseagreen;
    color: white;
    margin-right: 20px;
  }

  & .deleteIcon {
    color: red;
    float: right;
    margin-right: 8px;
    cursor: pointer;
  }
  & .editIcon {
    color: #3f51b5;
    float: right;
    margin-right: 8px;
    cursor: pointer;
  }
  & .topDescriptionContainer {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 80px;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-family: serif;
    font-weight: 200;
    color: grey;
    padding-top: 5px;
  }
  & .High{
    color: red;
    margin-left: 5px;
  }

  & .Medium{
    color: #ff9504;
    margin-left: 5px;
  }

  & .Low {
    color: green;
    margin-left: 5px;
  }

  & .storyPointContainer {
    height: 30px !important;
    width: 30px !important;
    border: 1px solid transparent !important;
    border-radius: 15px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 2px 1px mediumseagreen;
  }

  & .usTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

mat-card {
  height: 160px !important;
  & .mat-card-title {
    font-size: 18px !important;
  }
}

mat-chip-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  & .mat-chip-list-wrapper {
    justify-content: space-between !important;
  }
}


.task {
  padding: 15px 12px;
  border-bottom: solid 1px #ddd;
  border-radius: 4px;

  margin-bottom: 15px;

  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
  0 3px 14px 2px rgba(0, 0, 0, 0.05);

  & .addTaskIcon {
    margin-left: 35%;
    color: green;
    cursor: pointer;

  }
  & .actionsContainer {
    display: flex;
    flex-direction: row;
    margin-left: 1%;
  }

  & .actionsContainerProgress {
    display: -webkit-inline-box;
  }

  & .priorityContainer {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  }

  & .innerActions {
    display: flex;
    padding-top: 5px;
    margin-left: 80%;
    position: absolute;
  }

  & .innerActionsProgress {
    display: flex;
    padding-top: 5px;
    margin-left: 80%;
    position: absolute;
  }

}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 450ms cubic-bezier(0, 0.2, 0.4, 1);
}

.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 0.8);
}
